/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
nav.navbar {
  z-index: 999;
  padding: .7rem 1rem !important;
}

.navbar-brand {
  width: 60px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: var(--green) !important;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

.navbar .fa-angle-down {
  margin-left: .6rem;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1.2rem;
}

/* features */

.features {
  margin-top: 15%;
}

.features h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.features hr {
  width: 26%;
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid #EF8641;
}

.features .nav-pills .nav-item {
  margin-top: 1rem;
}

.features .nav-item .nav-link {
  border: 1px solid rgba(0, 0, 0, .3);
  font-weight: 400;
  border-radius: 1rem;
}

.features .nav-item .nav-link.active {
  background: unset;
  color: var(--green) !important;
  border: 1px solid var(--green);
  font-weight: 500;
}


.features .tab-content h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.features .tab-content .info-panel {
  position: relative;
}

.features .tab-content .info-panel img {
  width: 18%;
  position: absolute;
  top: .8rem;
  left: 1rem;
}

.features .tab-content .info-panel .text-info {
  margin-left: 8.5rem;
}

.features .tab-content .info-panel .text-info h2 {
  color: rgba(0, 0, 0, .9);
  font-weight: 600;
  font-size: 1.8rem;
}

.features .tab-content .info-panel .text-info p {
  color: rgba(0, 0, 0, .7);
  font-size: 1.2rem;
}

/* form cek tarif */
.features .form-cek-tarif {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  width: 95%;
  margin: auto;
}

.form-cek-tarif .form-group {
  margin-top: 1.5rem;
}

.form-cek-tarif .form-group img {
  float: left;
  margin-top: 2rem;
  width: 3.5rem;
}

.form-cek-tarif .form-group img::after {
  content: '';
  clear: both;
}

.form-cek-tarif .form-group .form-check {
  margin-left: 2.8rem;
}

.form-group .form-check label {
  font-weight: 500;
  font-size: 1.4rem;
}

.form-group .form-check .form-input {
  outline: unset;
  border: 1px solid rgba(0, 0, 0, .3);
  background: #f1f1f1f1;
  width: 100%;
  padding: .3rem 1rem;
  border-radius: .3rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, .8);
}

.form-cek-tarif .btn-cek {
  margin-top: 1.2rem;
  border: unset;
  background: var(--green);
  color: white;
  width: 100%;
  padding: .7rem;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: .5rem
}

.form-cek-tarif .btn-cek:hover {
  background: #106d5a;
  transition: .5s;
}



/* berita pengguna */

.driver h1 {
  text-transform: capitalize;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.driver hr {
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid #EF8641;
}

.driver .card {
  margin-top: 6rem !important;
  border: unset;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.profile-card-2 .card-body {
  position: relative;
}

.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 0;
  max-width: 75px;
  border: 3px solid #16a085;
}

.profile-card-2 h5 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}

.profile-card-2 h6 {
  margin-top: -0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}

.card .card-body hr {
  width: 50%;
  margin: auto;
}

.profile-card-2 .card-text {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

/* faq */

.question h1 {
  text-transform: capitalize;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.question hr {
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid #EF8641;
}


.question .collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.question .collapsible-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.question .collapsible-link[aria-expanded="true"]::after {
  transform: rotate(90deg) translateX(-1px);
}

.question .collapsible-link[aria-expanded="true"]::before {
  transform: rotate(180deg);
}

/* footer */
.footer {
  position: relative;
  background: #F1F1F1;
  padding-top: 2rem;
}

.footer-top {
  padding-bottom: 5rem;
}

.footer-top .footer-item {
  padding-top: .8rem
}

.footer-top .footer-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  font-weight: 300;
  text-decoration: none;
}

.footer-link span {
  color: var(--green);
  font-weight: 600;
}

.footer-top h3 {
  margin-top: 2rem;
  font-weight: 600;
}

.footer-top .link-download img {
  margin-top: 8px;
}

.footer-top .follow-us img {
  margin-right: 5px;
}

.footer-top .follow-us a {
  text-decoration: none;
}

.footer .footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  background: #f1f1f1;
}

.footer-bottom p {
  text-transform: capitalize;
  font-size: 1rem;
}

.footer-bottom span {
  color: var(--green);
}

@media (min-width:361px) and (max-width: 575.98px) {
  /* features */

  .features {
    margin-top: 15%;
  }

  .features h1 {
    text-transform: capitalize;
    font-size: 3rem;
  }

  .features hr {
    width: 30%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid #EF8641;
  }

  .features .nav-pills .nav-item {
    margin-top: 1rem;
  }

  .features .nav-item .nav-link {
    border: 1px solid rgba(0, 0, 0, .3);
    font-weight: 400;
    border-radius: 1rem;
  }

  .features .nav-item .nav-link.active {
    background: unset;
    color: var(--green) !important;
    border: 1px solid var(--green);
    font-weight: 500;
  }


  .features .tab-content h2 {
    font-size: 2.3rem;
    text-transform: capitalize;
    margin-top: 2rem;
  }

  .features .tab-content .info-panel {
    position: relative;
  }

  .features .tab-content .info-panel img {
    width: 55px;
    position: absolute;
    top: .8rem;
    left: 1rem;
  }

  .features .tab-content .info-panel .text-info {
    margin-left: 8rem;
  }

  .features .tab-content .info-panel .text-info h2 {
    color: rgba(0, 0, 0, .9);
    font-weight: 600;
    font-size: 1.8rem;
  }

  .features .tab-content .info-panel .text-info p {
    color: rgba(0, 0, 0, .7);
    font-size: 1.3rem;
  }

  /* form cek tarif */
  .features .form-cek-tarif {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    width: 95%;
    margin: auto;
  }

  .form-cek-tarif .form-group {
    margin-top: 1.5rem;
  }

  .form-cek-tarif .form-group img {
    float: left;
    margin-top: 2rem;
    width: 3.5rem;
  }

  .form-cek-tarif .form-group img::after {
    content: '';
    clear: both;
  }

  .form-cek-tarif .form-group .form-check {
    margin-left: 2.8rem;
  }

  .form-group .form-check label {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .form-group .form-check .form-input {
    outline: unset;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #f1f1f1f1;
    width: 100%;
    padding: .3rem 1rem;
    border-radius: .3rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .8);
  }

  .form-cek-tarif .btn-cek {
    margin-top: 1.2rem;
    border: unset;
    background: var(--green);
    color: white;
    width: 100%;
    padding: .7rem;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: .5rem
  }

  .form-cek-tarif .btn-cek:hover {
    background: #106d5a;
    transition: .5s;
  }

  .question h1 {
    text-transform: capitalize;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }

  .question hr {
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid #EF8641;
  }

  .driver h1 {
    text-transform: capitalize;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }

  .driver hr {
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid #EF8641;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* features */

  .features {
    margin-top: 12%;
  }

  .features h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .features hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .features .nav.nav-pills {
    margin-left: 0;
  }

  .features .nav-pills .nav-item {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .features .nav-item .nav-link {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 12rem;
  }

  .features .tab-content h2 {
    font-size: 2.4rem;
  }

  .features .tab-content .info-panel img {
    width: 5rem;
    left: 0rem;
    top: .1rem;
  }

  .features .tab-content .info-panel .text-info {
    margin-left: 8.5rem;
  }

  .features .tab-content .info-panel .text-info h2 {
    font-size: 2rem;
  }

  .features .tab-content .info-panel .text-info p {
    font-size: 1.5rem;
  }

  /* form cek tarif */
  .features .form-cek-tarif {
    border-radius: 1.5rem;
    padding: 2rem 3rem;
  }

  .form-cek-tarif h2 {
    font-size: 2.6rem;
  }

  .form-cek-tarif .form-group {
    margin-top: 2rem;
  }

  .form-cek-tarif .form-group img {
    margin-top: 2.8rem;
    width: 5rem;
  }

  .form-cek-tarif .form-group .form-check {
    margin-left: 4.6rem;
  }

  .form-group .form-check label {
    font-size: 1.8rem;
  }

  .form-group .form-check .form-input {
    padding: .9rem 1rem;
    font-size: 1.7rem;
  }

  .form-cek-tarif .btn-cek {
    margin-top: 1.5rem;
    padding: 1.3rem;
    font-size: 1.8rem;
  }

  .driver h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .driver hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .question h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .question hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* features */
  .features {
    margin-top: 7rem;
  }

  .features h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
  }

  .features hr {
    width: 16%;
    margin-bottom: 2rem;
    margin-top: 1.4rem;
  }

  .features .nav-pills .nav-item {
    margin-left: 4.5rem;
    margin-bottom: 2rem;
  }

  .features .nav-item .nav-link {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 12rem;
  }

  .features .tab-content h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 3rem;
  }

  .features .tab-content .info-panel {
    position: relative;
    margin-bottom: 1rem;
  }

  .features .tab-content .info-panel img {
    width: 5.2rem;
    position: absolute;
    top: .5rem;
  }

  .features .tab-content .info-panel .text-info {
    margin-left: 8rem;
  }

  .features .tab-content .info-panel .text-info h2 {
    font-size: 1.8rem;
  }

  .features .tab-content .info-panel .text-info p {
    font-size: 1.1rem;
  }

  /* form cek tarif */
  .features .form-cek-tarif {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    width: 100%;
    margin-top: 7rem;
  }

  .form-cek-tarif .form-group {
    margin-top: 1.5rem;
  }

  .form-cek-tarif .form-group img {
    float: left;
    margin-top: 1.8rem;
    width: 3rem;
  }

  .form-cek-tarif .form-group img::after {
    content: '';
    clear: both;
  }

  .form-cek-tarif .form-group .form-check {
    margin-left: 2.5rem;
  }

  .form-group .form-check label {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .form-group .form-check .form-input {
    outline: unset;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #f1f1f1f1;
    width: 100%;
    padding: .2rem 1rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, .8);
  }

  .form-cek-tarif .btn-cek {
    margin-top: 1.2rem;
    border: unset;
    background: var(--green);
    color: white;
    width: 100%;
    padding: .3rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: .5rem
  }

  .form-cek-tarif .btn-cek:hover {
    background: #106d5a;
    transition: .5s;
  }

  /* berita pengguna */
  .driver hr {
    width: 20%;
  }

  .question hr {
    width: 20%;
    margin: 2rem auto;
  }

  /* footer */
  .footer-bottom p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* features */
  .features {
    margin-top: 9rem;
  }

  .features h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
  }

  .features hr {
    width: 15%;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
  }

  .features .nav-pills .nav-item {
    margin-left: 4.5rem;
    margin-bottom: 2rem;
  }

  .features .nav-item .nav-link {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 12rem;
  }


  .features .tab-content h2 {
    font-size: 2.2rem;
  }

  .features .tab-content .info-panel img {
    width: 5.4rem;
    position: absolute;
    top: .5rem;
  }

  .features .tab-content .info-panel .text-info {
    margin-left: 8rem;
  }

  .features .tab-content .info-panel .text-info h2 {
    font-size: 1.7rem;
  }

  .features .tab-content .info-panel .text-info p {
    font-size: 1.3rem;
  }


  /* form cek tarif */
  .features .form-cek-tarif {
    padding: 2rem 2rem;
    width: 100%;
    margin-top: 6.7rem;
  }

  .form-cek-tarif .form-group {
    margin-top: 1.5rem;
  }

  .form-cek-tarif .form-group img {
    float: left;
    margin-top: 2.3rem;
    width: 3.4rem;
  }

  .form-cek-tarif .form-group img::after {
    content: '';
    clear: both;
  }

  .form-cek-tarif .form-group .form-check {
    margin-left: 3rem;
  }

  .form-group .form-check label {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .form-group .form-check .form-input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
  }

  .form-cek-tarif .btn-cek {
    margin-top: 1.5rem;
    padding: .5rem;
    margin-bottom: .8rem;
    font-size: 1.3rem;

  }

  .form-cek-tarif .btn-cek:hover {
    background: #106d5a;
    transition: .5s;
  }

  /*berita pengguna*/
  .driver h1 {
    font-size: 3.5rem;
  }

  .driver hr {
    width: 15%;
  }

  .profile-card-2 .profile {
    top: -4.2rem;
    left: 0;
    max-width: 75px;
    border: 2px solid #16a085;
  }

  /* faq */

  .question h1 {
    font-size: 3.5rem;
  }

  .question hr {
    width: 15%;
    margin-bottom: 2rem;
  }

  .question .card h6 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* footer */
  .footer-top .footer-item:hover {
    transform: translateX(5px);
    transition: .6s;
  }

  .footer-item .footer-link:hover {
    color: black;
    transition: .3s;
  }

  .footer-bottom p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* features */
  .features {
    margin-top: 9rem;
  }

  .features h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
  }

  .features hr {
    width: 15%;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
  }

  .features .nav-pills .nav-item {
    margin-left: 4.5rem;
    margin-bottom: 2rem;
  }

  .features .nav-item .nav-link {
    font-size: 1.6rem;
    padding: .5rem 2.5rem;
    border-radius: 12rem;
  }


  .features .tab-content h2 {
    font-size: 2.2rem;
  }

  .features .tab-content .info-panel img {
    width: 5rem;
    position: absolute;
    top: 0;
  }

  .features .tab-content .info-panel .text-info {
    margin-left: 8rem;
  }

  .features .tab-content .info-panel .text-info h2 {
    font-size: 1.7rem;
  }

  .features .tab-content .info-panel .text-info p {
    font-size: 1.3rem;
  }


  /* form cek tarif */
  .features .form-cek-tarif {
    padding: 2rem 2rem;
    width: 100%;
    margin-top: 6.7rem;
  }

  .form-cek-tarif .form-group {
    margin-top: 1.5rem;
  }

  .form-cek-tarif .form-group img {
    float: left;
    margin-top: 2.3rem;
    width: 3.4rem;
  }

  .form-cek-tarif .form-group img::after {
    content: '';
    clear: both;
  }

  .form-cek-tarif .form-group .form-check {
    margin-left: 3rem;
  }

  .form-group .form-check label {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .form-group .form-check .form-input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
  }

  .form-cek-tarif .btn-cek {
    margin-top: 1.5rem;
    padding: .5rem;
    margin-bottom: .8rem;
    font-size: 1.3rem;

  }

  .form-cek-tarif .btn-cek:hover {
    background: #106d5a;
    transition: .5s;
  }

  /*berita pengguna*/
  .driver h1 {
    font-size: 3.5rem;
  }

  .driver hr {
    width: 15%;
  }

  .profile-card-2 .profile {
    top: -4.2rem;
    left: 0;
    max-width: 75px;
    border: 2px solid #16a085;
  }

  /* faq */

  .question h1 {
    font-size: 3.5rem;
  }

  .question hr {
    width: 15%;
    margin-bottom: 2rem;
  }

  .question .card h6 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* footer */
  .footer-top .footer-item:hover {
    transform: translateX(5px);
    transition: .6s;
  }

  .footer-item .footer-link:hover {
    color: black;
    transition: .3s;
  }

  .footer-bottom p {
    font-size: 1.3rem;
  }
}