/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
nav.navbar {
  z-index: 999;
  padding: .7rem 1rem !important;
}

.navbar-brand {
  width: 48px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: var(--green) !important;
}

.nav-link.active {
  color: var(--green) !important;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

.navbar .fa-angle-down {
  margin-left: .6rem;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1.2rem;
}

/* jumbotron */
.jumbotron.jumbotron-fluid {
  background-image: url(../img/pusat-bantuan/Group-641.png);
  background-size: cover;
  width: 100%;
  height: 350px;
  margin-top: 5rem;
  background-position-x: -60rem;
  background-repeat: no-repeat;
}

.jumbotron .display-4 {
  color: white;
  text-align: center;
  margin-top: 4rem;
  font-weight: 600;
}

.jumbotron hr {
  width: 15rem;
  border: 1px solid #EF8641;
  margin: 2rem auto;
}

.jumbotron .form-inline {
  display: flex;
  justify-content: center;
}

.jumbotron .form-inline .form-group {
  background: white;
  padding: .9rem;
  border-radius: 2rem;
}

.jumbotron .form-inline .form-group .form-input {
  border: unset;
  background: unset;
  padding: 0px 5px;
  width: 20rem;
  outline: unset;
}

.jumbotron .form-inline .form-group .search-btn {
  background: unset;
  outline: unset;
  border: unset;
}

.jumbotron .form-inline .form-group .search-btn .fa-search {
  color: var(--green);
  margin-right: 3px;
  font-size: 1.3rem;
}

.jumbotron .lead {
  color: white;
  font-weight: 300;
  text-align: center;
}

.jumbotron .lead a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/* features */
.features h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.features .card {
  width: 25rem;
  margin: auto;
  margin-top: 1rem;
}

.card-img-top {
  height: 15rem;
}

.features .card-body {
  margin-top: 1rem;
}

.features .card-body a.card-text {
  color: rgba(0, 0, 0, .7);
  font-weight: 400;
}

/* info-panel */
.info-panel img {
  margin-bottom: 2rem;
}

.info-panel h2 {
  font-weight: 600;
}

.info-panel ul {
  list-style: outside;
  margin-top: 1.2rem;
}

.info-panel ul>li {
  font-size: 1.2rem;
  margin: .5rem;
  color: rgba(0, 0, 0, .8)
}

/* helper */
section.helper {
  margin-top: -6.5rem;
}

.helper .form-helper {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 1rem;
  padding: 2rem 3rem 3rem;
  width: 95%;
}

.helper .form-helper h2 {
  font-weight: 600;
}

.helper .form-helper p {
  font-size: 1rem;
  font-weight: 300;
}

.helper .form-helper .form-group input,
.helper .form-helper .form-group textarea {
  width: 100%;
  padding: .6rem;
  outline: unset;
  background: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .4rem;
  font-size: 1.1rem;
}

.helper .form-helper .btn-kirim {
  width: 100%;
  background: var(--green);
  border: unset;
  outline: unset;
  color: white;
  font-weight: 300;
  padding: .6rem;
  font-size: 1.1rem;
  border-radius: .4rem;
}

.helper .form-helper .btn-kirim:hover {
  background: #106d5a;
}

.helper img.img-ilustrasi {
  display: none;
}

/* faq-penumpang */

.faq-penumpang {
  margin-top: -5rem;
}

.faq-penumpang h2 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.faq-penumpang hr {
  width: 10rem;
  margin: 1rem auto 2rem;
  border: 1px solid #EF8641;
}

.faq-penumpang .card-header {
  position: relative;
}

.faq-penumpang .card-header button.btn-link {
  color: unset;
  font-weight: 500;
  font-size: 1.2rem
}

.faq-penumpang .fa-angle-down {
  position: absolute;
  top: 30%;
  right: 0;
  font-size: 1.7rem;
  margin-right: 1.2rem;
}

.faq-penumpang .collapse .card-body {
  font-size: 1.1rem;
  font-weight: 300;
}

/* faq-driver */

.faq-driver h2 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.faq-driver hr {
  width: 10rem;
  margin: 1rem auto 2rem;
  border: 1px solid #EF8641;
}

.faq-driver .card-header {
  position: relative;
}

.faq-driver .card-header button.btn-link {
  color: unset;
  font-weight: 500;
  font-size: 1.2rem
}

.faq-driver .fa-angle-down {
  position: absolute;
  top: 30%;
  right: 0;
  font-size: 1.7rem;
  margin-right: 1.2rem;
}

.faq-driver .collapse .card-body {
  font-size: 1.1rem;
  font-weight: 300;
}

.faq-driver .nav-pills .nav-item {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.faq-driver .nav-item .nav-link {
  border: 1px solid rgba(0, 0, 0, .3);
  font-weight: 400;
  border-radius: 1rem;
}

.faq-driver .nav-item .nav-link.active {
  background: unset;
  color: var(--green) !important;
  border: 1px solid var(--green);
  font-weight: 500;
}


.features .tab-content h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.features .tab-content .info-panel {
  position: relative;
}

.features .tab-content .info-panel img {
  width: 18%;
  position: absolute;
  top: .8rem;
  left: 1rem;
}

.features .tab-content .info-panel .text-info {
  margin-left: 8.5rem;
}

.features .tab-content .info-panel .text-info h2 {
  color: rgba(0, 0, 0, .9);
  font-weight: 600;
  font-size: 1.8rem;
}

.features .tab-content .info-panel .text-info p {
  color: rgba(0, 0, 0, .7);
  font-size: 1.2rem;
}

/* footer */
.footer {
  position: relative;
  background: #F1F1F1;
  padding-top: 2rem;
}

.footer-top {
  padding-bottom: 5rem;
}

.footer-top .footer-item {
  padding-top: .8rem
}

.footer-top .footer-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  font-weight: 300;
  text-decoration: none;
}

.footer-link span {
  color: var(--green);
  font-weight: 600;
}

.footer-top h3 {
  margin-top: 2rem;
  font-weight: 600;
}

.footer-top .link-download img {
  margin-top: 8px;
}

.footer-top .follow-us img {
  margin-right: 5px;
}

.footer-top .follow-us a {
  text-decoration: none;
}

.footer .footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  background: #f1f1f1;
}

.footer-bottom p {
  text-transform: capitalize;
  font-size: 1rem;
}

.footer-bottom span {
  color: var(--green);
}


@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {

  .jumbotron .form-inline .form-group .form-input {
    padding: 0 1rem;
    width: 30rem;
    font-size: 1.3rem;
  }

  .jumbotron .form-inline .form-group .search-btn .fa-search {
    font-size: 1.5rem;
  }

  .jumbotron .lead {
    margin-top: 1rem;
  }

  /* features */
  .features .card {
    width: 35rem;
  }

  .features .card-body .card-text {
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* info panel   */
  .info-panel ul>li {
    font-size: 1.4rem;
    margin: 1rem 2rem;
    font-weight: 300;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* navbar */
  .navbar-brand {
    width: 70px;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  /* jumbotron */

  .jumbotron.jumbotron-fluid {
    height: 355px;
    margin-top: 5rem;
    background-position-x: -2rem;
    background-repeat: no-repeat;
  }

  .jumbotron .display-4 {
    margin-top: 5rem;
  }

  .jumbotron .form-inline .form-group .form-input {
    padding: 0 1rem;
    width: 40rem;
    font-size: 1.3rem;
  }

  .jumbotron .form-inline .form-group .search-btn .fa-search {
    font-size: 2rem;
  }

  .jumbotron .lead {
    font-size: 1.35rem;
    margin-top: 1.3rem;
  }

  /* features */
  .features .card {
    width: 16rem;
    height: 22rem;
  }

  /* info-panel */
  .info-panel {
    margin-top: -4.5rem;
  }

  .info-panel ul>li {
    font-size: 1.3rem;
    font-weight: 400;
  }

  /* helper */
  .helper img.img-ilustrasi {
    display: block;
  }

  /* footer */
  .footer-bottom p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  /* navbar */
  .navbar-brand {
    width: 75px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* jumbotron */
  .jumbotron.jumbotron-fluid {
    height: 260px;
    margin-top: 6rem;
    background-position-x: -2rem;
    background-repeat: no-repeat;
  }

  .jumbotron .display-4 {
    margin-top: 2rem;
    font-weight: 400;
  }

  .jumbotron .form-inline .form-group .form-input {
    padding: 0 1rem;
    width: 49rem;
    font-size: 1.2rem;
  }

  .jumbotron .form-inline .form-group .search-btn .fa-search {
    font-size: 1.5rem;
  }

  .jumbotron .lead {
    font-size: 1.4rem;
    margin-top: 1.2rem;
  }

  /* features */
  .features .card {
    width: 23rem;
    height: 26rem;
  }

  .features .card .card-body .card-text {
    font-size: 1.2rem;
  }

  .info-panel ul>li {
    font-size: 1.38rem;
    font-weight: 400;
  }

  /* helper */
  .helper img.img-ilustrasi {
    display: block;
  }

}

@media (min-width: 1200px) {

  /* navbar */
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* jumbotron */
  .jumbotron.jumbotron-fluid {
    height: 300px;
    margin-top: 7rem;
    width: 100%;
    background-position-x: -.5rem;
    background-color: rgba(61, 172, 152, 0.486);
  }

  .jumbotron .form-inline .form-group .form-input {
    width: 49rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
  }

  .jumbotron .form-inline .form-group .search-btn .fa-search {
    font-size: 1.6rem;
  }

  .jumbotron .display-4 {
    margin-top: 2.8rem;
    margin-bottom: 1.5rem;
  }

  .jumbotron .lead {
    font-size: 1.4rem;
    margin-top: 1.2rem;
  }

  /* features */
  .features .card {
    width: 26rem;
    height: 29rem;
  }

  .features .card:hover {
    transform: scale(1.1);
    transition: .7s;
  }

  .features .card .card-body .card-text {
    font-size: 1.4rem;
  }

  /*  info-panel  */

  .info-panel .isu ul>li {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
  }

  /* helper */
  section.helper {
    margin-top: 0rem;
  }

  .helper img.img-ilustrasi {
    display: block;
  }

  .helper .form-helper p {
    font-size: 1.2rem;
  }

  .helper .form-helper .form-group input,
  .helper .form-helper .form-group textarea {
    padding: 1rem;
    font-size: 1.39rem;
  }

  .helper .form-helper .btn-kirim {
    padding: 1rem;
    font-size: 1.5rem;
  }

  /*  faq-penumpang  */
  .faq-penumpang .card-header button.btn-link {
    font-size: 1.4rem
  }

  .faq-penumpang .fa-angle-down {
    font-size: 1.9rem;
  }

  .faq-penumpang .collapse .card-body {
    font-size: 1.3rem;
    font-weight: 400;
  }

  /* faq-driver */
  .faq-driver {
    margin-top: -3rem;
    margin-bottom: 4rem;
  }

  .faq-driver .card-header button.btn-link {
    font-size: 1.4rem
  }

  .faq-driver .fa-angle-down {
    font-size: 1.9rem;
  }

  .faq-driver .collapse .card-body {
    font-size: 1.3rem;
    font-weight: 400;
  }

  /* footer */
  .footer-top .footer-item:hover {
    transform: translateX(5px);
    transition: .6s;
  }

  .footer-item .footer-link:hover {
    color: black;
    transition: .3s;
  }

  .footer-bottom p {
    font-size: 1.3rem;
  }
}