/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
nav.navbar {
  z-index: 999;
  padding: .7rem 1rem !important;
}

.navbar-brand {
  width: 60px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: var(--green) !important;
}

.nav-link.active {
  color: var(--green) !important;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

.navbar .fa-angle-down {
  margin-left: .6rem;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1.2rem;
}

/* hero */
section.hero {
  margin-top: 2rem;
}

.column-text {
  margin-top: 2rem;
}

.column-text .display-4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.column-text h2 {
  margin-top: -0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.column-text h2 span {
  font-weight: 550;
}

.column-text .btn-contact {
  display: inline-block;
  background: var(--green);
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin-top: .8rem;
  font-size: 1rem;
  text-decoration: none;
}

.btn-contact:hover {
  background: #106d5a;
  transition: .5s;
}

.column-img-illustration img {
  width: 100%;
  margin-top: 1.5rem;
}

/* main */
.main {
  margin-top: -4rem;
}

.main h1 {
  font-weight: 600;
  margin-bottom: 3rem;
}

.main h3 {
  line-height: 0.8;
}

.main img {
  margin-bottom: 3rem;
}

.main .isi {
  position: relative;
}

.main span {
  display: inline-block;
  background: var(--green);
  color: white;
  width: 3rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  line-height: 2.5rem;
  position: absolute;
  top: 20%;
}

.main p {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 4rem;
}

/* info */
.info {
  background: #16a0841a;
}

.info h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.info hr {
  width: 20%;
  margin-bottom: 2rem;
  border: 1px solid #EF8641;
}


.info p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.info .ilustrasi-img {
  display: none;
}

/* kelebihan */
.kelebihan h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.kelebihan hr {
  width: 20%;
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid #EF8641;
}

.info-panel {
  margin-top: 5rem;
  position: relative;
}

.info-panel p {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.7);
}

.info-panel .badge {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
}

.info-panel .badge.badge-secondary {
  background-color: var(--green);
  padding: 0.8rem;
}

/* our tim */

.tim {
  padding-bottom: 10rem;
  margin-top: -5rem;
}

.tim h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.tim hr {
  width: 6rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px solid #EF8641;
}

.owl-carousel .item {
  margin-top: 4rem;
}

.item .our-tim img {
  width: 14rem;
  margin: auto;
}

.item .info-tim h4 {
  margin-top: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.item .info-tim p {
  font-style: italic;
  font-weight: 400;
  font-size: 1.3rem;
}

.owl-theme .owl-dots .owl-dot {
  outline: unset;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  margin-top: 2rem;
  background: var(--green);
}

/* footer */
.footer {
  position: relative;
  background: #F1F1F1;
  padding-top: 2rem;
}

.footer-top {
  padding-bottom: 5rem;
}

.footer-top .footer-item {
  padding-top: .8rem
}

.footer-top .footer-link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .8);
  font-weight: 300;
  text-decoration: none;
}

.footer-link span {
  color: var(--green);
  font-weight: 600;
}

.footer-top h3 {
  margin-top: 2rem;
  font-weight: 600;
}

.footer-top .link-download img {
  margin-top: 8px;
}

.footer-top .follow-us img {
  margin-right: 5px;
}

.footer-top .follow-us a {
  text-decoration: none;
}

.footer .footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  background: #f1f1f1;
}

.footer-bottom p {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.footer-bottom span {
  color: var(--green);
}

@media (min-width: 576px) and (max-width: 767.98px) {

  /* hero */
  section.hero {
    margin-top: 4rem;
  }

  .column-text {
    margin-top: 3.9rem;
  }

  .column-text .display-4 {
    font-size: 3rem;
    padding-bottom: 0.4rem;
  }

  .column-text hr {
    width: 12rem;
    border: 1.5px solid var(--green);
  }

  .column-text h2 {
    font-size: 1.4rem;
  }

  .column-img-illustration img {
    margin-top: 0rem;
  }

  /* main */
  .main h1 {
    font-size: 2.5rem;
  }

  /* info */
  .info h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem
  }

  .info hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  .info .ilustrasi-img {
    display: none;
  }

  /* kelebihan */
  .kelebihan h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem
  }

  .kelebihan hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  /* our tim */
  .tim h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem
  }

  .tim hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  .single-tim {
    margin-right: 5rem;
  }

  .tim .single-tim img {
    width: 50%;
  }

  .single-tim .text-area {
    padding: 0 1rem;
    left: 9rem;
    top: 5rem;
  }

  .text-area h3 {
    font-size: 1.5rem;
  }

  .text-area p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* navbar */
  .navbar-brand {
    width: 70px;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  /* hero */
  section.hero {
    margin-top: 6rem;
  }

  .column-text {
    margin-top: 5rem;
  }

  .column-text .display-4 {
    font-size: 3.7rem;
    padding-bottom: 1rem;
  }

  .column-text hr {
    width: 15rem;
    border: 1.5px solid var(--green);
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }

  .column-text h2 {
    font-size: 1.7rem;
  }

  .column-img-illustration img {
    margin-top: 0rem;
  }

  .column-text .btn-contact {
    padding: .8rem 2rem;
    font-size: 1.3rem;
  }

  /* main */
  .main h1 {
    font-size: 3rem;
  }

  /* info */
  .info h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem
  }

  .info hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  .info .ilustrasi-img {
    display: none;
  }

  /* kelebihan */
  .kelebihan h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem
  }

  .kelebihan hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  /* our tim */
  .tim h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem
  }

  .tim hr {
    width: 16%;
    margin-bottom: 3rem;
  }

  .single-tim {
    margin-right: 0;
  }

  .tim .single-tim img {
    width: 60%;
  }

  .single-tim .text-area {
    padding: 0 1.5rem;
    left: 11rem;
    top: 4rem;
  }

  .text-area h3 {
    font-size: 1.7rem;
  }

  .text-area p {
    font-size: 1.35rem;
  }

  /* footer */
  .footer-bottom p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* hero */
  .column-text {
    margin-top: 15rem;
  }

  .column-text .display-4 {
    font-size: 4.7rem;
    padding-bottom: 1.5rem;
  }

  .column-text hr {
    width: 20rem;
    border: 1.5px solid var(--green);
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }

  .column-text h2 {
    font-size: 2.8rem;
  }

  .column-img-illustration img {
    margin-top: 4rem;
  }

  .column-text .btn-contact {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  /* main */
  .main {
    margin-top: -2rem;
  }

  .main h3 {
    font-size: 2rem;
  }

  .main h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .main .keterangan {
    margin-left: 4rem;
  }

  .main span {
    background: var(--green);
    color: white;
    width: 9%;
    height: 3.4rem;
    border-radius: 12%;
    line-height: 3.4rem;
    font-size: 1.4rem;
    top: 10%;
  }

  .main p {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 5rem;
  }

  .info h1 {
    padding-top: 4rem;
    font-size: 3rem;
  }

  .info hr {
    width: 12rem;
  }

  .info p {
    font-size: 1.4rem;
  }

  .info .ilustrasi-img {
    display: block;
  }

  .info img.img-fluid {
    width: 500px !important;
  }

  .kelebihan h1 {
    padding-top: 4rem;
    font-size: 4rem;
  }

  .kelebihan hr {
    width: 12rem;
  }

  .info-panel p {
    font-size: 1.1rem;
  }

  .tim h1 {
    font-size: 4rem;
  }

  .tim hr {
    width: 12rem;
  }

  /* footer */
  .footer-top .footer-item:hover {
    transform: translateX(5px);
    transition: .6s;
  }

  .footer-item .footer-link:hover {
    color: black;
    transition: .3s;
  }

  .footer-bottom p {
    font-size: 1.3rem;
  }

}

@media (min-width: 1200px) {
  .navbar-brand {
    width: 80px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /* hero */
  .column-text {
    margin-top: 15rem;
  }

  .column-text .display-4 {
    font-size: 4.7rem;
    padding-bottom: 1.5rem;
  }

  .column-text hr {
    width: 20rem;
    border: 1.5px solid var(--green);
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }

  .column-text h2 {
    font-size: 2.8rem;
  }

  .column-img-illustration img {
    margin-top: 4rem;
  }

  .column-text .btn-contact {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  /* main */

  .main {
    margin-top: -3rem;
  }

  .main h3 {
    font-size: 2rem;
  }

  .main h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .main .keterangan {
    margin-left: 4rem;
  }

  .main span {
    background: var(--green);
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    line-height: 3rem;
    font-size: 1.3rem;
    top: .5rem;
  }

  .main p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-left: 4.4rem;
  }

  .info h1 {
    padding-top: 4rem;
    font-size: 3rem;
  }

  .info hr {
    width: 12rem;
  }

  .info p {
    font-size: 1.4rem;
  }

  .info .ilustrasi-img {
    display: block;
  }

  .info img.img-fluid {
    width: 500px !important;
  }

  .kelebihan h1 {
    padding-top: 4rem;
    font-size: 4rem;
  }

  .kelebihan hr {
    width: 12rem;
  }

  .info-panel p {
    font-size: 1.3rem;
  }

  .tim h1 {
    font-size: 4rem;
  }

  .tim hr {
    width: 12rem;
  }

  /* footer */
  .footer-top .footer-item:hover {
    transform: translateX(5px);
    transition: .6s;
  }

  .footer-item .footer-link:hover {
    color: black;
    transition: .3s;
  }

  .footer-bottom p {
    font-size: 1.3rem;
  }
}