/* global style */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #16a085;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* nav */
nav.navbar {
    z-index: 999;
    padding: 0.7rem 1rem !important;
}

.navbar-brand {
    width: 48px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2.5rem;
}

.nav-link:hover {
    color: var(--green) !important;
}

.nav-link.active {
    color: var(--green) !important;
}

button.navbar-toggler {
    background: unset;
    border: unset;
    outline: unset;
}

.navbar .fa-angle-down {
    margin-left: 0.6rem;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 1.2rem;
}

/* header */
.jumbotron.jumbotron-fluid {
    margin-top: 8rem;
    background: transparent;
}

.jumbotron h1 {
    font-weight: 600;
}

.jumbotron hr {
    width: 10rem;
    margin: 1rem auto;
    border: 1px solid #ef8641;
}

.jumbotron .text-p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.form-group {
    margin-top: 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 100%;
    position: relative;
}

.form-group .form-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form-group .form-input:-moz-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.form-group .form-input {
    padding: 6px;
    width: 90%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: unset;
    border: unset;
    outline: unset;
    padding-left: 1rem;
    font-weight: 600;
}

.form-group .search-btn {
    background: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.search-btn .fa-search {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.form-inline .group-kategori {
    border: unset;
    background: var(--green);
    color: white;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: unset;
}

/* main */

.wrapper .card-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem 1.5rem 0 0;
}

.wrapper .card-wrapper img {
    border-radius: 0.7rem 0.7rem 0 0;
}

.wrapper .card-wrapper .card-link {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.wrapper .card-wrapper .card-footer {
    display: flex;
    justify-content: flex-end;
}

.wrapper .card-wrapper .card-footer .text-muted {
    font-size: 1.1rem;
}

.wrapper .card-wrapper .card-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

.wrapper .card-wrapper .card-text {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.wrapper .card {
    display: flex;
    flex-direction: row;
    height: 12rem;
    margin-top: 1rem;
    position: relative;
}

.wrapper .card .card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: unset;
    border: unset;
}

.wrapper .card .card-body {
    overflow-y: hidden;
    width: 100%;
}

.wrapper .card .card-body p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.wrapper .card .card-body .card-link {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.wrapper .card .card-body .card-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

.wrapper .card a {
    width: 30rem;
}

.wrapper .card img {
    height: 100%;
}

/* pagination */
.pagination {
    padding-top: 5rem;
}

.page-item {
    padding: 2rem;
}

.page-link.prev,
.page-link.next {
    background-color: var(--green) !important;
    color: white;
    border-radius: 10%;
    font-size: 1.8rem;
}

.page-link.prev:hover,
.page-link.next:hover {
    background-color: #106d5a !important;
    transition: 0.5s;
}

.page-link {
    border: unset !important;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
}

/* footer */
.footer {
    position: relative;
    background: #f1f1f1;
    padding-top: 2rem;
}

.footer-top {
    padding-bottom: 5rem;
}

.footer-top .footer-item {
    padding-top: 0.8rem;
}

.footer-top .footer-link {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    text-decoration: none;
}

.footer-link span {
    color: var(--green);
    font-weight: 600;
}

.footer-top h3 {
    margin-top: 2rem;
    font-weight: 600;
}

.footer-top .link-download img {
    margin-top: 8px;
}

.footer-top .follow-us img {
    margin-right: 5px;
}

.footer-top .follow-us a {
    text-decoration: none;
}

.footer .footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
    background: #f1f1f1;
}

.footer-bottom p {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.footer-bottom span {
    color: var(--green);
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .jumbotron.jumbotron-fluid {
        margin-top: 12%;
        background: transparent;
    }

    .jumbotron .form-inline {
        margin-top: 1.5rem;
        margin-left: -7rem;
    }

    .jumbotron .form-inline .form-group {
        width: 30rem;
        margin-top: 0;
    }

    .jumbotron .text-p {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .form-group .search-btn .fa-search {
        font-size: 18px;
        margin-top: 5px;
        margin-right: 1.6rem;
    }

    .jumbotron .form-inline .group-kategori {
        padding: 0.63rem;
        border-radius: 0 0.5rem 0.5rem 0;
        position: absolute;
        right: 3rem;
    }

    /* main */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        width: 70px;
    }

    .nav-link {
        color: black;
        font-size: 1.5rem;
    }

    button.navbar-toggler {
        font-size: 1.8rem;
    }

    .jumbotron.jumbotron-fluid {
        margin-top: 11%;
        background: transparent;
    }

    .jumbotron .form-inline {
        margin-top: 1.5rem;
        margin-left: -7rem;
    }

    .jumbotron .form-inline .form-group {
        width: 40rem;
        margin-top: 0;
    }

    .jumbotron .text-p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .form-group .search-btn .fa-search {
        font-size: 18px;
        margin-top: 0;
        margin-right: 3rem;
    }

    .jumbotron .form-inline .group-kategori {
        padding: 0.85rem;
        border-radius: 0 0.5rem 0.5rem 0;
        position: absolute;
        right: 8rem;
    }

    .form-group .form-input {
        padding: 0.8rem;
    }

    /*  main    */
    .wrapper .card {
        display: flex;
        flex-direction: column;
        height: 22rem;

        margin-top: 5rem;
        position: relative;
    }

    .wrapper .card a {
        width: 100%;
        height: 10rem;
    }

    .wrapper .card .card-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #f1f1f1;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .card .card-footer .text-muted {
        font-size: 0.9rem;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-brand {
        width: 80px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* header */
    .jumbotron.jumbotron-fluid {
        margin-top: 11%;
        background: transparent;
    }

    .jumbotron .form-inline {
        margin-top: 1.5rem;
        margin-left: -7rem;
    }

    .jumbotron .form-inline .form-group {
        width: 40rem;
        margin-top: 0;
    }

    .jumbotron .text-p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .form-group .search-btn .fa-search {
        font-size: 16px;
        margin-top: 0;
        margin-right: 1.8rem;
    }

    .jumbotron .form-inline .group-kategori {
        padding: 0.84rem;
        border-radius: 0 0.5rem 0.5rem 0;
        position: absolute;
        right: 19rem;
    }

    /* main */

    .wrapper .card-wrapper img {
        height: 30rem;
    }

    .wrapper .card-wrapper .card-link {
        font-size: 3rem;
    }

    .wrapper .card-wrapper .card-footer .text-muted {
        font-size: 1.5rem;
    }

    .wrapper .card-wrapper .card-body {
        margin-bottom: 15rem;
    }

    .wrapper .card-wrapper .card-text {
        font-size: 2rem;
    }

    .wrapper .card {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 23rem;
        margin-top: 0;
        margin-bottom: 1.9rem;
        position: relative;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .wrapper .card a {
        width: 100%;
        height: 45%;
    }

    .wrapper .card a > img {
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .wrapper .card .card-body .card-link {
        font-size: 1.8rem;
    }

    .wrapper .card .card-body p {
        font-size: 1.5rem;
    }

    .wrapper .card .card-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #f1f1f1;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .card .card-footer .text-muted {
        font-size: 1.1rem;
    }

    /* footer */
    .footer-top .footer-item:hover {
        transform: translateX(5px);
        transition: 0.6s;
    }

    .footer-item .footer-link:hover {
        color: black;
        transition: 0.3s;
    }

    .footer-bottom p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        width: 80px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* header */
    .jumbotron.jumbotron-fluid {
        margin-top: 9%;
        background: transparent;
    }

    .jumbotron .form-inline {
        margin-top: 1.5rem;
        margin-left: -7rem;
    }

    .jumbotron .form-inline .form-group {
        width: 50rem;
        margin-top: 0;
    }

    .jumbotron .text-heading {
        font-size: 3.5rem;
    }

    .jumbotron .text-p {
        font-size: 1.7rem;
        font-weight: 300;
        margin-top: 2rem;
    }

    .form-group .search-btn .fa-search {
        font-size: 15px;
        margin-top: 0;
        margin-right: 2rem;
    }

    .jumbotron .form-inline .group-kategori {
        padding: 1.1rem 0.5rem;
        border-radius: 0 0.5rem 0.5rem 0;
        position: absolute;
        right: 23rem;
    }

    .form-group .form-input {
        padding: 1rem;
        font-size: 1.3rem;
    }

    /* main */

    .wrapper .card-wrapper img {
        height: 30rem;
    }

    .wrapper .card-wrapper .card-link {
        font-size: 3rem;
    }

    .wrapper .card-wrapper .card-footer .text-muted {
        font-size: 1.5rem;
    }

    .wrapper .card-wrapper .card-body {
        margin-bottom: 15rem;
    }

    .wrapper .card-wrapper .card-text {
        font-size: 2rem;
    }

    .wrapper .card {
        display: flex;
        flex-direction: column;
        height: 30rem;
        width: 25rem;
        margin-top: 0;
        margin-bottom: 1.9rem;
        position: relative;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .wrapper .card a {
        width: 100%;
        height: 45%;
    }

    .wrapper .card a > img {
        border-radius: 0.7rem 0.7rem 0 0;
    }

    .wrapper .card .card-body .card-link {
        font-size: 1.8rem;
    }

    .wrapper .card .card-body p {
        font-size: 1.5rem;
    }

    .wrapper .card .card-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #f1f1f1;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .card .card-footer .text-muted {
        font-size: 1.1rem;
    }

    /* footer */
    .footer-top .footer-item:hover {
        transform: translateX(5px);
        transition: 0.6s;
    }

    .footer-item .footer-link:hover {
        color: black;
        transition: 0.3s;
    }

    .footer-bottom p {
        font-size: 1.3rem;
    }
}

/* detail post */

.detail {
    margin-top: 5%;
}

.detailSearch .form-group {
    background-color: #f0f0f0;
}

.detail .list-unstyled li > a {
    font-size: 1.2rem;
    color: var(--green);
}

.detail .btn.btn-success {
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
}
