/* global style */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #16a085;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

/* nav */
nav.navbar {
    z-index: 999;
    padding: .7rem 1rem !important;
}

.navbar-brand {
    width: 48px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2.5rem;
}

.nav-link:hover {
    color: var(--green) !important;
}

button.navbar-toggler {
    background: unset;
    border: unset;
    outline: unset;
}

.navbar .fa-angle-down {
    margin-left: .6rem;
}

.navbar .dropdown-menu .dropdown-item {
    font-size: 1.2rem;
}

/* hero */
section.hero {
    margin-top: 0rem;
}

.column-text {
    margin-top: 2rem;
}

.column-text .display-4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.column-text h2 {
    margin-top: -0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.column-text h2 span {
    font-weight: 550;
}

.column-img-illustration img {
    width: 100%;
    margin-top: 1.5rem;
}

/* layanan */
.layanan {
    margin-top: 10%;
}

.layanan h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.layanan hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid #EF8641;
}

.layanan img {
    width: 10rem;
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
}

.layanan p {
    font-size: 0.8rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

.layanan .card {
    border-radius: 1.9rem;
}

.layanan .card .inner {
    height: 45%;
    display: flex;
    justify-content: center;
}

.layanan .card img {
    width: 100%;
    border-radius: 0 0 0 0;
}

.layanan .card-title {
    position: absolute;
    margin-top: 3rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.layanan .card-text {
    text-align: center;
    font-size: 1rem;
    margin-top: -1.2rem
}

/* pilar-angkut */
.pilar-angkut .container {
    margin-top: -30px;
}

.pilar-angkut h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pilar-angkut hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid #EF8641;
}

.pilar-angkut .card {
    overflow-y: hidden;
}

.pilar-angkut img {
    width: 25%;
    padding: 8px 0;
    margin: 1.5rem auto;
}

.pilar-angkut h5 {
    font-size: 2rem;
    font-weight: 700;
}

.pilar-angkut p {
    font-size: 1.4rem;
}

/* testi */
section.testimonial {
    margin-top: -50px;
    margin-bottom: 50px;
}

.testimonial h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.testimonial hr {
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid #EF8641;
}

.testimonial .card {
    border: unset;
    margin-bottom: 2rem;
}

.testimonial .card img {
    width: 30%;
    margin: 1.5rem auto;
}

.testimonial .card p {
    margin-bottom: 1.1rem !important;
}

.testimonial .card .blockquote-footer {
    font-size: 1.3rem;
    font-weight: 600;
}

.owl-theme .owl-dots .owl-dot {
    outline: unset;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    margin-top: 2rem;
    background: var(--green);
}

/* footer */
.footer {
    position: relative;
    background: #F1F1F1;
    padding-top: 2rem;
}

.footer-top {
    padding-bottom: 5rem;
}

.footer-top .footer-item {
    padding-top: .8rem
}

.footer-top .footer-link {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .8);
    font-weight: 300;
    text-decoration: none;
}

.footer-link span {
    color: var(--green);
    font-weight: 600;
}

.footer-top h3 {
    margin-top: 2rem;
    font-weight: 600;
}

.footer-top .link-download img {
    margin-top: 8px;
}

.footer-top .follow-us img {
    margin-right: 5px;
}

.footer-top .follow-us a {
    text-decoration: none;
}

.footer .footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
    background: #f1f1f1;
}

.footer-bottom p {
    text-transform: capitalize;
    font-size: 1rem;
}

.footer-bottom span {
    color: var(--green);
}

@media (min-width: 350px) and (max-width: 449.98px) {

    /* hero */
    section.hero {
        margin-top: 2rem;
    }

    .column-text {
        margin-top: 1.7rem;
        margin-left: -.5rem;
    }

    .column-text .display-4 {
        font-size: 2.1rem;
        padding-bottom: 0.2rem;
    }

    .column-text hr {
        width: 8rem;
    }

    .column-text h2 {
        font-size: 1.1rem;
    }

    .column-img-illustration img {
        margin-top: 0rem;
        margin-left: 1rem;
    }

    /* layanan */
    .layanan h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .layanan hr {
        width: 20%;
        margin-bottom: 2.5rem;
    }

    .layanan .card {
        border-radius: 1.9rem;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .layanan .card-title {
        margin-top: 2.3rem;
        font-size: 2rem;
    }

    .layanan .card-text {
        font-size: 1.1rem;
        margin-top: -1rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .pilar-angkut hr {
        width: 20%;
        margin-bottom: 2.5rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .testimonial hr {
        width: 20%;
        margin-bottom: 2.5rem;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.1rem;
    }

}

@media (min-width: 450px) and (max-width: 575.98px) {
    section.hero {
        margin-top: 3rem;
    }

    .column-text {
        margin-top: 4rem;
    }

    .column-text .display-4 {
        font-size: 2.5rem;
        padding-bottom: 0.2rem;
    }

    .column-text hr {
        width: 10rem;
    }

    .column-text h2 {
        font-size: 1.2rem;
    }

    .column-img-illustration img {
        margin-top: 0rem;
    }

    /* layanan */
    .layanan h1 {
        font-size: 2.3rem;
        margin-bottom: 1.3rem
    }

    .layanan hr {
        width: 16%;
        margin-bottom: 2.8rem;
    }

    .layanan .card {
        border-radius: 2.5rem;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .layanan .card-title {
        margin-top: 2.1rem;
        font-size: 2.1rem;
    }

    .layanan .card-text {
        font-size: 1.2rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 2.3rem;
        margin-bottom: 1.3rem
    }

    .pilar-angkut hr {
        width: 16%;
        margin-bottom: 2.8rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 2.3rem;
        margin-bottom: 1.3rem
    }

    .testimonial hr {
        width: 16%;
        margin-bottom: 2.8rem;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.2rem;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    section.hero {
        margin-top: 4rem;
    }

    .column-text {
        margin-top: 3.9rem;
    }

    .column-text .display-4 {
        font-size: 3rem;
        padding-bottom: 0.4rem;
    }

    .column-text hr {
        width: 12rem;
        border: 1.5px solid var(--green);
    }

    .column-text h2 {
        font-size: 1.4rem;
    }

    .column-img-illustration img {
        margin-top: 0rem;
    }

    /* layanan */
    .layanan h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem
    }

    .layanan hr {
        width: 16%;
        margin-bottom: 3rem;
    }

    .layanan .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .layanan .card {
        border-radius: 2.5rem;
        width: 40%;
        margin-bottom: 2.5rem;
    }

    .layanan .card-title {
        margin-top: 2.3rem;
        font-size: 2rem;
    }

    .layanan .card-text {
        font-size: 1.1rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem
    }

    .pilar-angkut hr {
        width: 16%;
        margin-bottom: 3rem;
    }

    .pilar-angkut .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pilar-angkut .card {
        width: 25rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem
    }

    .testimonial hr {
        width: 16%;
        margin-bottom: 3rem;
    }

    .testimonial .card img {
        width: 45%;
        margin: 1.5rem auto;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.2rem;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {

    /* navbar */
    .navbar-brand {
        width: 70px;
    }

    .nav-link {
        font-size: 1.4rem;
    }

    /* hero */
    section.hero {
        margin-top: 6rem;
    }

    .column-text {
        margin-top: 5rem;
    }

    .column-text .display-4 {
        font-size: 3.7rem;
        padding-bottom: 1rem;
    }

    .column-text hr {
        width: 15rem;
        border: 1.5px solid var(--green);
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }

    .column-text h2 {
        font-size: 1.7rem;
    }

    .column-img-illustration img {
        margin-top: 0rem;
    }

    /* layanan */
    .layanan h1 {
        font-size: 2.5rem;
        margin-bottom: 1.6rem
    }

    .layanan hr {
        width: 13%;
        margin-bottom: 3.3rem;
    }

    .layanan .card {
        border-radius: 2.5rem;
    }

    .layanan .card-title {
        margin-top: 2.5rem;
        font-size: 2.1rem;
    }

    .layanan .card-text {
        font-size: 1.3rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 2.5rem;
        margin-bottom: 1.6rem
    }

    .pilar-angkut hr {
        width: 13%;
        margin-bottom: 3.3rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 2.5rem;
        margin-bottom: 1.6rem
    }

    .testimonial hr {
        width: 13%;
        margin-bottom: 3.3rem;
    }

    .testimonial .card img {
        width: 45%;
        margin: 1.5rem auto;
    }

    /* footer */
    .footer-bottom p {
        font-size: 1.2rem;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* navbar */
    .navbar-brand {
        width: 75px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* hero */
    .column-text {
        margin-top: 8rem;
    }

    .column-text .display-4 {
        font-size: 4.5rem;
        padding-bottom: 1.2rem;
    }

    .column-text hr {
        width: 18rem;
        border: 1.5px solid var(--green);
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }

    .column-text h2 {
        font-size: 2.5rem;
    }

    /* layanan */

    .layanan h1 {
        font-size: 3rem;
    }

    .layanan hr {
        width: 13%;
        margin-top: 1.5rem;
        margin-bottom: 4.5rem;
    }

    .layanan img {
        width: 55%;
        height: 35%;
    }

    .layanan .text-layanan {
        width: 85%;
        margin: 1.4rem auto;
    }

    .text-layanan p {
        font-size: 1.6rem;
    }

    .layanan .card {
        border-radius: 1.9rem;
    }

    .layanan .card .inner {
        height: 46%;
    }

    .layanan .card img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 0;
    }

    .layanan .card-title {
        margin-top: 5rem;
    }

    .layanan .card-text {
        text-align: center;
        font-size: 1.6rem;
        margin-top: .1rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 3rem;
    }

    .pilar-angkut hr {
        width: 13%;
        margin-top: 1.5rem;
        margin-bottom: 4.5rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 3rem;
    }

    .testimonial hr {
        width: 13%;
        margin-top: 1.5rem;
        margin-bottom: 4.5rem;
    }
}

@media (min-width: 1200px) {

    /* navbar */
    .navbar-brand {
        width: 80px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* hero */
    .column-text {
        margin-top: 15rem;
    }

    .column-text .display-4 {
        font-size: 4.7rem;
        padding-bottom: 1.5rem;
    }

    .column-text hr {
        width: 20rem;
        border: 1.5px solid var(--green);
        margin-top: -0.5rem;
        margin-bottom: 2rem;
    }

    .column-text h2 {
        font-size: 2.8rem;
    }

    .column-img-illustration img {
        margin-top: 3rem;
    }

    /* layanan */
    .layanan h1 {
        font-size: 3.4rem;
        margin-bottom: 2.3rem;
    }

    .layanan hr {
        width: 10%;
        margin-bottom: 5rem;
    }

    .layanan img {
        width: 50%;
        height: 45%;
    }

    .layanan .text-layanan {
        width: 90%;
        margin: 1.5rem auto;
    }

    .text-layanan p {
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.8);
    }

    .layanan .card {
        border-radius: 1.9rem;
    }

    .layanan .card .inner {
        height: 45%;
        overflow: hidden;
    }

    .layanan .card img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 0;
        transition: all .5s ease;
    }

    .layanan .card img:hover {
        transform: scale(1.1);
    }

    .layanan .card-title {
        font-size: 2.8rem;
        margin-top: 4.5rem;
    }

    .layanan .card-text {
        margin-top: .7rem;
        text-align: center;
        font-size: 1.8rem;
    }

    /* pilar angkut */
    .pilar-angkut h1 {
        font-size: 3.4rem;
        margin-bottom: 2.3rem;
    }

    .pilar-angkut hr {
        width: 10%;
        margin-bottom: 5rem;
    }

    /* testi */
    .testimonial h1 {
        font-size: 3.4rem;
        margin-bottom: 2.3rem;
    }

    .testimonial hr {
        width: 10%;
        margin-bottom: 5rem;
    }

    /* footer */
    .footer-top .footer-item:hover {
        transform: translateX(5px);
        transition: .6s;
    }

    .footer-item .footer-link:hover {
        color: black;
        transition: .3s;
    }

    .footer-bottom p {
        font-size: 1.3rem;
    }
}