/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
.navbar {
  background: var(--green);
}

.navbar {
  z-index: 999;
  width: 100%;
}

.navbar-brand {
  width: 70px;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
  text-transform: uppercase;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

/* header */
.jumbotron {
  margin-top: 9rem;
  background: white;
}

.jumbotron p {
  font-size: 2.5rem;
  color: var(--green);
}

.jumbotron .form-group {
  margin: 0.5rem auto;
  background-color: #e9eceb;
  border-radius: 10px;
}

.form-group .form-input::-webkit-input-placeholder {
  color: var(--green);
}

.form-group .form-input:-moz-input-placeholder {
  color: var(--green);
}

.form-group .form-input {
  padding: 6.7px;
  width: 25rem;
  font-size: 1.6rem;
  color: var(--green);
  border-radius: 10px;
  background: unset;
  border: unset;
  outline: unset;
  padding-left: 2rem;
}

.form-group .search-btn {
  background: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
}

.search-btn .fa-search {
  font-size: 22px;
  padding-right: 5px;
  color: var(--green);
  margin-top: 5px;
}

.search-btn .fa-search:hover {
  color: darkgreen;
}

/* content */
.content {
  margin-top: -20px;
}

.content h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--green);
  font-weight: 600;
}

.content a {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.content .pagination {
  margin-bottom: 5rem;
}

.content h2.text-isu {
  margin-left: 0rem;
  font-size: 1.8rem;
  color: var(--green);
  font-weight: 600;
}

.content .isu {
  border-left: 1px solid var(--green);
  height: 85vh;
}

.content .isuLainnya p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  padding-left: 2rem;
  margin-bottom: 1.7rem;
  line-height: 2.5;
}

/* bantuan */
.bantuan {
  padding: 35px;
}

.bantuan h1 {
  color: var(--green);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.bantuan p {
  font-size: 16px;
  text-align: center;
}

.form-area {
  max-width: 450px;
  padding: 20px 30px;
  margin: 10px auto;
  background: #fafafa;
  border-radius: 5px;
}

.form-area .single-form {
  position: relative;
  margin-bottom: 30px;
}

.form-area .single-form input,
.form-area .single-form textarea {
  width: 100%;
  padding: 10px;
  outline-color: rgb(169, 169, 169);
}

.form-area .single-form input:focus + label,
.form-area .single-form input:valid + label,
.form-area .single-form textarea:focus + label,
.form-area .single-form textarea:valid + label {
  color: var(--green);
  font-size: 0.9rem;
  top: -10px;
}

.form-area .single-form input:focus + label:after,
.form-area .single-form input:valid + label:after,
.form-area .single-form textarea:focus + label:after,
.form-area .single-form textarea:valid + label:after {
  content: " ";
}

.form-area .single-form textarea {
  height: 120px;
}

.form-area label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #777;
  font-size: 0.9rem;
  background: #fff;
  transition: 0.5s;
}

.form-area button {
  outline: unset;
  border: unset;
  background: var(--green);
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
  color: #fafafa;
  display: inline-block;
  font-size: 15px;
}

.form-area button:hover {
  background: #036635;
  transition: 0.4s;
}

.bantuan .b-hp {
  margin-top: 50px;
}

.b-hp picture img {
  padding-top: 10px;
  padding-right: 10px;
  margin-left: 10px;
  width: 80px;
  height: 150px;
}

.bantuan h4 {
  color: var(--green);
}

/*penumpang*/
.faq-penumpang h1 {
  color: #16a085;
}
.faq-penumpang .collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.faq-penumpang .collapsible-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.faq-penumpang .collapsible-link[aria-expanded="true"]::after {
  transform: rotate(90deg) translateX(-1px);
}

.faq-penumpang .collapsible-link[aria-expanded="true"]::before {
  transform: rotate(180deg);
}

.faq-penumpang h6 {
  font-size: 1.3rem;
}

.faq-penumpang p {
  font-size: 2rem;
}

/* question */
.question {
  background-color: var(--green);
}

.question h1 {
  color: var(--green);
  font-weight: 550;
}

.question h6 {
  font-size: 1.3rem;
}

.question p {
  font-size: 2rem;
}

.question hr {
  width: 50%;
  border: 1px solid var(--green);
  margin: auto;
}

/* .question {
  background: #007b5e;
  color: #eee;
} */
.question h6.section-title {
  color: #eee;
}

.question .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
  border-color: transparent transparent white;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

.question .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: white;
  font-size: 20px;
}

.question .collapsible-link::before {
  content: "";
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.question .collapsible-link::after {
  content: "";
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.question .collapsible-link[aria-expanded="true"]::after {
  transform: rotate(90deg) translateX(-1px);
}

.question .collapsible-link[aria-expanded="true"]::before {
  transform: rotate(180deg);
}

/* alamat */
.alamat-cabang picture img {
  width: 10rem !important;
  margin-left: 63px;
}

.alamat-cabang h1 {
  color: var(--green);
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 50px;
}

.alamat-cabang p {
  color: var(--green);
}

/*faq penumpang - accordion */
section.faq-penumpang {
  background: #16a0841a;
}

section.faq-penumpang h1 {
  margin-bottom: 3rem;
}

#accordion {
  width: 60%;
}

.card {
  padding-bottom: 2rem;
}

.card p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.card-header .card-link {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

/* faq driver */

/* footer */
.footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: #367c6d;
  position: relative;
  left: 0;
  right: 0;
}

.footer h3,
.footer h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.footer p {
  color: rgb(224, 224, 224);
  font-weight: 500;
}

.footer .nav-footer {
  color: rgb(224, 224, 224);
}

.footer-top picture {
  display: flex;
}

.footer .footer-top img {
  width: 15rem;
  padding-right: 10px;
  opacity: 0.9;
}

.footer .footer-item {
  line-height: 3rem;
}

.nav-footer a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  font-size: 1.3rem;
}

.sosmed .nav-footer {
  list-style: none;
  display: inline-block;
}

.sosmed-item {
  display: inline;
  margin-right: 5px;
}

.sosmed-link {
  border: 1px solid rgba(255, 255, 255, 1);
  display: inline-block;
  padding: 5px 8px;
  border-radius: 9px;
}

.sosmed-item .fa-instagram,
.sosmed-item .fa-facebook-square,
.sosmed-item .fa-youtube,
.sosmed-item .fa-twitter-square {
  font-size: 1.6rem;
  line-height: unset;
}

.footer-top .driver {
  padding-top: 1rem;
}

.footer-bottom hr {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
}

.footer-bottom p {
  color: rgb(211, 211, 211);
}

@media (min-width: 768px) {
  .content .isu {
    border-left: 1px solid var(--green);
    height: 100%;
  }

  .content .isuLainnya p {
    line-height: 2;
  }
}

@media (min-width: 992px) {
  nav.navbar {
    background: var(--green);
  }

  .nav-link {
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white !important;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  /* header */
  .jumbotron p {
    font-size: 3rem;
  }

  .jumbotron .form-group {
    margin: 0 auto;
  }

  .form-group .form-input {
    font-size: 1.8rem;
    width: 30rem;
  }

  /* content */
  .content {
    margin-left: 20rem;
  }

  .content .card {
    border-radius: 1.2rem;
  }

  .content h2 {
    text-align: left;
    font-size: 2.2rem;
    margin-left: 4.8rem;
  }

  .content h2.text-isu {
    font-size: 2.2rem;
  }

  .card-body a {
    font-size: 1.4rem;
  }

  /* bantuan personal */
  .bantuan h1 {
    font-size: 27px;
  }

  .bantuan .b-hp {
    border-left: 2px solid var(--green);
    height: 26rem;
    padding-left: 15px;
    margin-top: -4px;
  }

  .bantuan .b-hp picture {
    margin-left: 65px;
  }

  .bantuan picture img {
    margin-top: 5px;
    width: 150px;
    height: 200px;
  }

  .bantuan h4 {
    color: var(--green);
    text-align: center;
  }

  /* alamat */
  .alamat-cabang picture img {
    width: 10rem !important;
    margin-left: 63px;
  }

  .alamat-cabang h1 {
    color: var(--green);
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .alamat-cabang p {
    color: var(--green);
  }

  /* footer */
  .footer h3,
  .footer h1 {
    font-size: 2.8rem;
  }

  .footer p {
    font-size: 1.7rem;
  }

  .footer .footer-item {
    line-height: 2.5rem;
  }

  .footer .footer-item:hover {
    transform: translateX(5px);
    transition: 0.5s;
  }

  .nav-footer a {
    font-size: 1.5rem;
  }

  .sosmed-item .fa-instagram,
  .sosmed-item .fa-facebook-square,
  .sosmed-item .fa-youtube,
  .sosmed-item .fa-twitter-square {
    font-size: 2rem;
    transform: translateY(0.1rem);
  }
}

@media (min-width: 1024px) {
  .bantuan picture img {
    width: 110px;
  }
}
